.profile__button-edit {
	background-image: url(../../../images/Edit.svg);
	cursor: pointer;
	background-position: 50%;
	background-repeat: no-repeat;
	background-size: contain;
	min-width: 24px;
	height: 24px;
	background-color: rgba(117, 190, 218, 0.0);
	border: none;
	transition: opacity .3s ease-in;
	margin-left: 18px;
}

.profile__button-edit:hover {
	opacity: 0.6;
}

@media (max-width:320px) and (max-width:768px) {
	.profile__button-edit {
		width: 18px;
		height: 17px;
		margin-left: 10px;
	}
}