.popup {
	display: flex;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	align-items: center;
	justify-content: center;
	background-color: rgba(0, 0, 0, .5);
	opacity: 0;
	transition: opacity .6s, visibility .6s linear;
	visibility: hidden;
  z-index: 1;
}

@media (min-width: 320px) and (max-width: 768px) {
	.popup {
		min-width: 320px;
	}
}